<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{ partial "head.html" . }}
    
    <body class="antialiased bg-gray-800" itemscope itemtype="http://schema.org/WebPage" itemprop="mainContentOfPage">
        <div class="flex flex-col lg:flex-row lg:items-center lg:p-8 min-h-screen max-w-5xl mx-auto">
            <section class="flex-grow flex flex-col justify-center p-12 lg:overflow-hidden">
                {{- block "main" . }}{{- end }}
                {{- partial "footer.html" . -}}
            </section>

        </div>

        {{ if not .Site.IsServer }}
            <!-- Matomo -->
            <script type="text/plain"
                data-type="application/javascript"
                data-src="https://matomo.orkhive.de/matomo.js"
                data-name="matomo">
                    var _paq = window._paq = window._paq || [];
                    // require user consent before processing data
                    // _paq.push(['requireConsent']);
                    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                    var u="//matomo.orkhive.de/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                    })();
            </script>
            <!-- End Matomo Code -->
        {{ end }}

        <script defer type="application/javascript" src="/klaro-config.js"></script>
        <script 
            defer
            data-config="klaroConfig"
            type="application/javascript"
            src="https://cdn.kiprotect.com/klaro/latest/klaro.js">
        </script>

    </body>
</html>
